<h2 style="text-align: center;">Demo Periodic</h2>
<h4 style="text-align: center;">When page number is 4, Then fake error working.</h4>

<div class="example-loading-shade" *ngIf="tableControl.isLoadingResults || tableControl.isError">
  <mat-spinner *ngIf="tableControl.isLoadingResults"></mat-spinner>
  <div class="example-error" *ngIf="tableControl.isError">
    Error!, Please try agian later
    <button mat-raised-button (click)="tableControl.search(input.value)">
      Reload
    </button>
  </div>
</div>


<section>
  <div class="example-table-container">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput #input placeholder="Name" />
    </mat-form-field>

    <button mat-raised-button (click)="tableControl.search(input.value)">
      Search
    </button>

    <table mat-table matSort matSortActive="name" matSortDisableClear matSortDirection="asc"
      [dataSource]="tableControl.dataSource">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element;">{{element.no}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{element.weight}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableControl?.columns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableControl.columns;"></tr>
    </table>
  </div>


  <mat-paginator [length]="tableControl.totalCount" [pageSizeOptions]="[2, 5, 10]"></mat-paginator>
</section>

<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->